name: Publish

on:
  schedule:
    - cron: '0 9 * * *'
  workflow_dispatch:
    branches:
      - master

jobs:
  run:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install

      - uses: codfish/semantic-release-action@v3
        id: semantic
        with:
          plugins: |
            [
              "@semantic-release/commit-analyzer",
              "@semantic-release/release-notes-generator",
              [
                "semantic-release-vsce",
                {
                  "packageVsix": true
                }
              ],
              [
                "@semantic-release/github",
                {
                  "assets": [
                    {
                      "path": "*.vsix",
                      "label": "Extension File"
                    }
                  ]
                }
              ]
            ]
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VSCE_PAT: ${{ secrets.VS_MARKETPLACE_TOKEN }}
        continue-on-error: true

      # - run: npm version ${{ steps.semantic.outputs.release-version }}
      #   if: steps.semantic.outputs.new-release-published == 'true'

      # - name: Publish to Visual Studio Marketplace
      #   if: steps.semantic.outputs.new-release-published == 'true'
      #   uses: HaaLeo/publish-vscode-extension@v1
      #   with:
      #     dryrun: true
      #     pat: ${{ secrets.VS_MARKETPLACE_TOKEN }}
      #     registryUrl: https://marketplace.visualstudio.com
